@import 'tailwind.css';

:root {
    --main-color: #1a202c;
}

body {
    background-color: var(--main-color);
    color: #fff;
}

#header {
    text-align: center;
    padding: 20px;
}

.dark-theme {
    background-color: var(--main-color);
    color: #fff;
}

@media screen and (max-width: 600px) {
    #header {
        font-size: 18px;
        padding: 10px;
    }
}